.introduction {

  margin-top: 10%;
  margin: 5%;

  @media (min-width: 768px) {
    width: 40vw;
    margin-left: 10%;
  }

  &__flex {
    @media (min-width: 768px) {
      display: flex;
    }

  }

  &__header {
    font-size: 2rem;

    @media (min-width: 768px) {
      font-size: 4rem;
    }
  }

  &__sub-header {
    font-size: 1rem;

    @media (min-width: 768px) {
      font-size: 2rem;
    }
  }

  &__body {
    font-size: 1rem;
    padding: 10px 0px;

    @media (min-width: 768px) {
      font-size: 1.4rem;
    }
  }

  &__profile-pic {
    display: block;
    width: 75vw;
    height: 75vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    object-fit: cover;
    border-radius: 50%;

    @media (min-width: 768px) {
      width: 25vw;
      height: 25vw;
    }
  }
}
