.skills {
    background-color: white;
    color: black;
    
    margin: 10% 0%;
    padding: 10% 0%;

    &__loader {
        // display: flex;
        padding: 1%;
        margin-top: 1%;
        white-space: nowrap;

        &-container{
            width: 50vw;
        }

        &-label{
            white-space: nowrap;
        }
    }

    &__profile-pic{
        display: block;
        width: 25vw;
        height: 25vw;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
        border-radius: 50%;
    }
}