.skills {
  // background-color: white;
  // color: black;

  margin-left: 7%;

  @media (min-width: 768px) {
    margin: 10% 0%;
    padding: 10% 0%;
  }

  &__flex {
    @media (min-width: 768px) {
      display: flex;
    }
  }

  &__loader {
    // display: flex;
    padding: 1%;
    margin-top: 1%;
    white-space: nowrap;

    &-container {
      @media (min-width: 768px) {
        width: 50vw;
      }
    }

    &-label {
      white-space: nowrap;
    }
  }

  &__profile-pic {
    display: none;
    width: 75vw;
    height: 75vw;
    margin-left: 5vw;
    margin-right: 10vw;
    object-fit: cover;
    border-radius: 50%;

    @media (min-width: 768px) {
      display: block;
      margin-left: 10vw;
      width: 25vw;
      height: 25vw;
    }
  }
}
