*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 15px;
}

body {
  margin: 0;
  --color-text: #fff;
  --color-bg: #fff;
  --color-link: #ffffff;
  --color-link-hover: #6b6b6b;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000000;
}

// ----------------------------------------------------------
.tiles {
  padding: 6vh 16vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  position: relative;
}
.tile {
  margin: 15px;
  cursor: pointer;
  overflow: hidden;
  width: 20vw;
  height: 20vw;
  object-fit: cover;
  img {
    width: 70%;
    transition: transform 500ms ease;
    &:hover {
      transform: scale(1.1);
    }
  }
}

/// ----------------------------------------------
.polygon {
  height: 100vh;
  background: #2e1c31;
  clip-path: polygon(0 50%, 100% 0, 100% 50%, 0 100%);
  position: relative;
}

//---

.plane {
  margin: 3%;
  height: 85vh;
  width: 90vw;
  background: #000000;
  position: relative;
}

.plane2 {
  margin: 3%;
  height: 75vh;
  width: 93vw;
  background: #080409;
  position: relative;
}

.plane3 {
  margin-top: 5%;
  margin: 10%;
  height: 40vh;
  // width: 85vw;
  background: #000000;
  position: relative;
}
// ----------------------------------------------

@mixin backlight($x, $y, $spread, $size, $colorA, $colorB, $duration) {
  &:after {
    position: absolute;
    content: '';
    top: $y;
    left: $x;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale($size);
    -webkit-filter: blur($spread);
    -moz-filter: blur($spread);
    -ms-filter: blur($spread);
    filter: blur($spread);
    background: linear-gradient(270deg, $colorA, $colorB);
    background-size: 200% 200%;
    animation: animateGlow $duration ease infinite;

    @keyframes animateGlow {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  }
}

.yeet {
  background-color: black;
  animation: textColor 10s ease infinite;
  @include backlight(0, 5vw, 5vw, 0.75, #0fffc1, #7e0fff, 10s);

  @keyframes textColor {
    0% {
      color: #7e0fff;
    }
    50% {
      color: #0fffc1;
    }
    100% {
      color: #7e0fff;
    }
  }
}

.yeetText {
  animation: textColor 10s ease infinite;

  @keyframes textColor {
    0% {
      color: teal;
    }
    50% {
      color: #00bebe;
    }
    100% {
      color: teal;
    }
  }
}

.blackText {
  color: black;
}

.yeetBackground {
  @include backlight(0, 5vw, 5vw, 0.75, #0fffc1, #7e0fff, 10s);
}

//-----------------------------------------
@import './Pages/Portfolio/Styles/index.scss';

//---
.ccard {
  transition: box-shadow 0.5s;
  will-change: transform;
}
